html, body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, table, tr, td {
    margin: 0px;
    padding: 0px;

    font-size: 14px;
}

h3, h4 {
    font-weight: 800;
    text-align: center;
    /* border-bottom: 1px solid #000000;     */
}

button {
    margin: 0px;
    padding: 1px 1px;
}

#main {
    width: 100%;
    height: 530px;
    display: flex;

    margin: 2px 0px;
}

#main p {
    float: left;
}

#main input {
    float: left;

    width: 40px;
    height: 12px;
    margin-top: 1px;
}

#main img {
    float: left;

    width: 12px;
    height: 12px;

    margin: 4px 10px;
}

#main .attribute {
    width: 100%;
    height: 25px;
}

#main #red {
    flex: 1 1 auto;
    height: calc(100% - 12px);

    border: 4px solid red;
    border-radius: 10px;

    margin: 0px 5px;
}

#main #red #red_add {
    width: 90%;

    margin: 0px auto;
    padding: 5px;


    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

#main #red #red_team {
    width: 90%;

    margin: 0px auto;
    padding: 5px;
}

#main #red #red_team #red_players {
    padding: 5px;

    border: 1px solid #000000;
}

#main #bg {
    flex: 0 0x auto;
    width: 800px;
    height: calc(100% - 2px);

    /* border: 1px solid #000000; */
}

#main #blue {
    flex: 1 1 auto;
    height: calc(100% - 12px);

    border: 4px solid blue;
    border-radius: 10px;
    margin: 0px 5px;
}

#main #blue #blue_add {
    width: 90%;

    margin: 0px auto;
    padding: 5px;

    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

#main #blue #blue_team {
    width: 90%;

    margin: 0px auto;
    padding: 5px;
    
}

#main #blue #blue_team #blue_players {
    padding: 5px;

    border: 1px solid #000000;
}

#less {
    display: flex;

    width: calc(100% - 12px);
    height: 160px;

    border: 1px solid #000000;

    margin: 0px 5px;
}

#less #control {
    flex: 1;
    height: calc(100% - 10px);

    border: 1px solid #000000;

    margin: 2px;
}

#less #log {
    flex: 1;
    height:  calc(100% - 10px);

    border: 1px solid #000000;
    text-align: center;

    margin: 2px;
}

#less #log #log_text {
    border: 1px solid black;
    width: calc(100% - 10px);
    height: calc(100% - 30px);
    overflow: scroll;
    text-align: left;
    /* font-size: 0.8em; */
    font-family: 'Courier New', Courier, monospace;

    margin: auto auto;
}

#frame_becareful {
    display: none;

    width: 200px;
    height: 90px;

    position: absolute;
    padding: 5px;

    background: gray;

    color: white;
    border: 4px double #000000;
    border-radius: 5px;

    opacity: 0.9;
}

#frame_becareful #frame_becareful_data1 {
    width: 90%;
    
    font-size: 12px;
    margin: 5px auto;
    padding-top: 5px;
    text-align: center;
    border-top: 1px solid white;
}

#frame_becareful #frame_becareful_data2 {
    width: 90%;

    font-size: 12px;
    margin: 5px auto;
    text-align: center;

}